<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://kit.fontawesome.com/f05735edb2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>

</head>

<body>
    <div class="userDiv">
        <div class="mainDiv">
            <div class="imageDiv">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSYow6iyOe52NR2_y5JvmYV_wMgS__cHruLwGLA4_-jWLBtVygV&usqp=CAU"
                    alt="">
            </div>
            <div class="userinfo">
                <span>David Rojormanet</span>
                <span class="posion">Product manager</span>
                <div class="loren">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                </div>
                <div class="btn">
                    <button>View Profile</button>
                </div>
            </div>
            <div class="statics">
                <div class="divst">
                    <h1>1240</h1>
                    <h5>This Week Sales</h5>
                </div>
                <div class="divst">
                    <h1>1240</h1>
                    <h5>This Week Earn</h5>
                </div>
                <div class="socil">
                    <div>
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <div>
                        <i class="fab fa-twitter active"></i>
                    </div>
                    <div>
                        <i class="fab fa-google-plus-g"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="VueApp" id="app">
        <!-- -->
        <h1>{{m1}}</h1>
     <div class="chipControl"  @mouseleave="show=false">
        <div class="chip">
            <div class="chipElement " v-for="(lst,index) in filter" :key="lst.id" v-if="lst.sl==true">


                <label :for="'lb'+index">{{lst.name}}
                    <button @click="unCheck(lst.id)">{{index}}</button>
                </label>

            </div>
            <div v-if="unfilter.length >= 1" class="input">
                <input v-model="search" @input="onChange"    ref="drop" type="text" />

            </div>

        </div>

        <div v-if="show" class="content">
            <div class="contentElement" v-for="(lst,index) in finallist" :key="lst.id" v-if="lst.sl==false">
                <input @change=" unfilter.length >= 1 ?  show=true:show=false" type="checkbox" v-model="lst.sl" :id="'lb'+index">
                <label :for="'lb'+index">{{lst.name}}</label>
            </div>
        </div>
     </div>



    </div>

    <script type="text/javascript" src="main.js"></script>

</body>

</html>